// breakpoints

$sm = 640px
$md = 768px
$lg = 1024px
$xl = 1280px

// slide-fade

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}