@require './defaults'

body
  @apply font-inter;

.prose
  a
    @apply no-underline;

.content__default 
  @apply break-words w-full max-w-4xl mx-auto;
  min-height 600px
  .header-anchor
    @apply hidden float-left text-gray-400;
  h1
    .header-anchor
      @apply hidden;
    &:first-child
      @apply mt-10 mb-10 text-4xl font-sans tracking-tighter font-bold;
  h2, h3, h4, h5
    &:hover
      .header-anchor
        @apply block;
  a
    @apply text-indigo-600;

.showcase, .home
  .content__default
    @apply w-full max-w-6xl;
    h1
      &:first-child
        @apply mt-4;

.text-shadow
  text-shadow: 2px 2px #ff0000;

.header-anchor {
  display: block;
  font-size: .85em;
  float: left;
  margin-left: -.87em;
  padding-right: .23em;
  margin-top: .125em;
}

blockquote
  @apply p-4 px-4 text-teal-600 bg-teal-100 rounded-tr-lg rounded-br-lg shadow-lg not-italic;
  p
    &:before
    content: none !important
    &:after
      content: none !important;

@media only screen and (min-width: $md) 
  .content__default
    h1
      &:first-child
        @apply text-5xl my-16;

